.collapsable-panel {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #BBB;
  border-radius: 6px;
  padding: 10px;
  .indicator {
    color: blue;
    opacity: .75;
  }
  .indicator-bar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    .subject {      
      margin-left: 10px;
      padding: 3px;
      border-radius: 3px;
      background: #CFCFCF;
      display: flex;
      flex: 1 0 auto;
    }
  }
}