@import '../../Static/vars.scss';
.players {
  & .admin {
    color: black;
    margin: 10px;
    border: 1px solid silver;
    font-size: 16px;
    & thead {
      background: $border-dark;
    }
    & tbody {
      background: #CCC;
    }
    & tr:nth-child(even) {
      background: #AAA;
    }
    & td {
      padding: 2px 5px;
    }
  }
}