@import './gamevars.scss';

/*  Game Card */
.gamecard__container{
  display: flex;
  height: $cardheight + 5px;
  width:  $cardwidth + 5px;
  min-height: $cardheight+5px;
  min-width:  $cardwidth+5px;
  justify-content: center;
  align-items: middle;
}
.gamecard {
  display: inline-flex;
  box-sizing: border-box;
  height: $cardheight + 5px;
  width:  $cardwidth + 5px;
  border: 3px ridge $border-dark;
  border-radius: 5px;
  margin: 1px;
  overflow: hidden;
  cursor: pointer;
  &:hover{
    border: 3px ridge $border;
  }
  &:active{
    border-color: rgba(100, 0, 0, 1);
  }
}
.card {
  height: $cardheight;
  width: $cardwidth;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.hiddencard {
  background: radial-gradient(
    rgba(184, 134, 11, 0.2),
    rgba(51,51,51, .8),
    rgba(34, 34, 34, 1)
    );
  &:hover{
    background: radial-gradient(rgba(184, 134, 11, .8), rgba(51,51,51, 1), rgba(34, 34, 34, 1));
  }
}
.hide {
  animation: hide 1.5s;
}
.show {
  animation: show 1.5s;
}
@keyframes hide {
  0% { width: $cardwidth }
  50% {
    width: 5px;
    height: $cardheight*.5;
  }
  100% {
    transform: rotate(180deg);
    width: $cardwidth;
  }
}
@keyframes show {
  0% {
    width: $cardwidth;
    opacity: 0;
    transform: rotate(-180deg);
  }
  50% {
    width: 5px;
    height: $cardheight*.5;
  }
  100% {
    width: $cardwidth;
    transform: rotate(0);
    opacity: 1.0;
  }
}
