@import 'css/vars.scss';
@import 'css/vars.scss';

.navigation {
  color: $border-dark;
  user-select: none;
  -webkit-user-drag: none;
  &.top__nav {
    ul {
      list-style-type: none;
      li {
        margin: 3px 15px;
        display: inline-block;
        & a {
          text-decoration: none;
          color: $border-dark;
        }
      }
    }
  }
  .selected {
    // background-color: #333;
    color: $border-bright !important;
  }
}
